syntax: glob
*.DS_Store
TEST/
TEST_PACKAGE/
release/
debug/
for_builds_0.1.1.4.beta.ize
for_builds_0.1.1.4.beta.zip
object_script.X-CSL-Updater.Debug
object_script.X-CSL-Updater.Release
*.user.*
X-CSL-Updater.zip
Makefile
Makefile.*
Generated/
*.vcxproj
*.filters
*.idx
*.opensdf
*.sdf
*.sln
ipch/
version.h
*.pdb
*.suo
*.vcxproj.user
TEST-DOWNLOADED/
TEST-DOWNLO/
mtl.dat
*.pri
*.pro.user
Project_vs2015x64/
src\Info.h
bin/
build/
Package/
src\x-csl-updater-win32.aps
src/Info.h
releases/
TestServer/volumes/
TestServer/www/package--/
TestServer/www/package
